body{
    display: flex;
    text-align: center;
    flex-direction: column;
        font-family: "ABeeZee", sans-serif;
        font-style: normal;
        min-width: 100vh;
        min-height: 100vh;
        /* border: solid 2px; */
}

.Bienvenida-regis{
    margin: 20px;
    min-width: 100vh;
    height: 100%;
    /* border: solid 2px; */
}
.Registro{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 80px;
    /*border: solid 2px black; */
    width: 60%;
}

.Registro label {
    text-align: left;
    padding-left: 40px;
}

.form{
    /* border: solid 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control{
    background-color: rgb(249, 248, 223);
    border-radius: 20px;
    height: 50px;
    margin: 20px;
    border: solid 2px;
    padding-left: 2%;
}

.btn-regsitro{
    border-radius: 20px;
    width: 20%;
    height: 35px;
    background-color: #9FB48E;
    /* border: solid 2px black; */
    box-shadow: 3px 2px rgb(168, 159, 159);
    color: azure;
    cursor: pointer;
}

.btn-regsitro:hover{
    background-color: #E2793C;
    transition: 0.5s;
}

.container-table{
    display: block;
    width: auto;
    height: auto;
    border: solid 2px;
}

.alert {
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

/* Estilo para la checklist */
.checklist-container {
    margin: 5px;
    align-content: center;
}

.error { color: red; }
        .valid { color: green; }

.password-checklist {
    display: none; /* Ocultar por defecto */
    border: 1px solid #ccc;
    padding: 2px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.password-checklist h2 {
    margin-top: 0;
}

.password-checklist ul {
    list-style-type: none;
    padding: 0;
}

.password-checklist li {
    margin-bottom: 0;
    font-size: 14px;
}

/* Estilo para los checkboxes */
.password-checklist input[type="checkbox"] {
    accent-color: #ccc; /* Color por defecto */
}

.password-checklist input.checkLength.valid {
    accent-color: green; /* Color cuando el requisito es válido */
}

.password-checklist input.checkUppercase.valid {
    accent-color: green;
}

.password-checklist input.checkLowercase.valid {
    accent-color: green;
}

.password-checklist input.checkNumber.valid {
    accent-color: green;
}

.password-checklist input.checkSpecialChar.valid {
    accent-color: green;
}

/* Mostrar el color de error si el checkbox está desmarcado */
.password-checklist input:not(:checked) {
    accent-color: red;
}
.alert-error {
    background-color: #f44336; /* Red */
}

.alert-success {
    background-color: #4CAF50; /* Green */
}

.alert-info {
    background-color: #2196F3; /* Blue */
}

.alert-warning {
    background-color: #ff9800; /* Orange */
}
@media (max-width: 751px) {
    

    .form-control::placeholder {
        font-size: 0.8em; /* Reducir el tamaño de la fuente del placeholder */
    }
}

@media (max-width: 624px) {
    

    .form-control::placeholder {
        font-size: 0.7em; /* Reducir el tamaño de la fuente del placeholder */
    }
}