
#buscador2{
    display: none;
}

.open-menu{
    background: none;
    border:0;
}
.topheader {
    /* para dejar fija la nav bar */
    position: fixed;
    /* background:linear-gradient(225deg, #718427 0%, #E2793C 50%, #004465 100%); */
    background-color: var( --three-color);
    left: 0;
    top: 0;
    /* a todo lo ancho */
    width: 100%;
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
     /* sirve para que un elemento de html se sobreponga sobre todos los demas elementos  */
    z-index: 10;
   
}

.content{
    width: 100%;
}

.topnav {
    /* los elementos estaran uno alado del otro */
    display: flex;
    /* los elemento esten separa de una esquina a otra esquina */
    justify-content: space-around;
    /* para que no se pege a los bordes  */
    padding: 10px;
    /* ancho maximo  del navbar*/
    max-width: auto;
    /* para que este centrado con respecto al header es con el margin */
    /* arriba y abajo y desrecha e izquierda apara el margin  */
    margin: 0 auto;
}
/* .logo {
    display: flex;
} */
/* .logo img {

    border-radius: 50%;
} */
/* .link-img{
    background-image: url(../../public/imagenes/cart.svg);
} */

/* Menu */
.content-car{
    height: 30px;
    width: 30px;
   
}
.menu {
    /* Los elemetos estara uno alado del otro */
    display: flex;
    /* quitamos las viñetas */
    list-style: none;
    /* formateamos el margin y el pading */
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.menu .li-nav {
    /* separacion de las letras navbar */
    padding: 0 10px;
}

.menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500px;
    /* centra los textos de manera horizontal, le pone top textos del navbar */
    line-height: 50px;
    /* para que esten en mayusscula */
    /* text-transform: uppercase;   */
    position: relative;
    text-decoration: none;
}

/* pseudo selector para poder linea abajo de la palabras del navbar */
.menu a::after {
    content: "";
    background-color: var(--theme-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: opacity 3s;
}

.menu a.selected::after,
.menu a:hover::after {
    opacity: 0.8;
}

/* para ponerle opacidadd al texto cuanso pasemos el cursor */
.menu a:hover {
    color: var(--theme-color);
}

.open-menu,
.close-menu {
    /* para ocultar el menu de hamburgesa  */
    display: none;
}
/* linea 122 se agrega la clase del inputSearch  */
.inputSearch {
    width: 542px;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    margin-top: 8px;
}
/* aqui le decimos si nuestro dispositivo tiene un ancho de 0px y ancho maximo de 950px se aplique estos estilos */
@media (max-width: 1300px) {

  

    /* Menu */
    .menu {
        /* aqui le decimos que los queremos en fila y en una columna */
        flex-direction: column;
        /* desacoplamos en todo el ancho y alto */
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        /* los alineamos en columna */
        align-items: center;
        background-color: var(--menu-mobile-background-color);
        /* ponemos un alto */
        height: 100%;
        /* ponemos un scroll */
        overflow-y: auto;
        /* para que el menu de pantalla chica no se vea */
        opacity: 0;

        /* con pointer event cuando hagamos la pantalla pequeña evita que hacamos falso click  y con esto se elimina hasta que precionemos el menu*/
        pointer-events: none;
        /* poner transcicion */
        transition: opacity 0.3s;
    }

    .menu .li-nav {
        padding: 0;
    }

    .menu a {
        /* color del texto */
        color: var(--text-color-inverse);
        line-height: 60px;
    }

    .open-menu,
    .close-menu {
        /* para mostrar el menu de hamburgesa  */
        display: block;
    }

    .close-menu {
        /* se va a alinear al diferente a los demas se aliena en la esquina superior derecha */
        align-self: flex-end;
        /* quitamos los estilos al boton */
        border: none;
        background: none;
        cursor: pointer;
        /* centramos la x */
        padding: 20px 15px;
    }

    /* cuando el menuu este abierto el opacity va estar en 1 y ponter eventes lo ponemos de vuelta */
    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }

    /* para que no me seleccione el elemento si no solo con el tabulador  */
    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
        outline: none;
    }

    .menu a::after {
        content: "";
        background-color: var(--secondary-color);
        position: absolute;
        left: 0;
        top: calc(100% + 4px);
        width: 100%;
        height: 4px;

        opacity: 0;
        transition: opacity 3s;
    }

    .menu a.selected::after,
    .menu a:hover::after {
        opacity: 0.8;
    }

    /* para ponerle opacidadd al texto cuanso pasemos el cursor */
    .menu a:hover {
        color: var(--primary-color);
    }

    .menu a::after {
        /* content: none; */
    }

    .menu a:hover,
    .menu a.selected {
        color: var(--primary-color);

    }
}

#content {
    width: 100%;
}

/* -----Footer------- */

 .contenedorFooter {
    background-color: #004465;
    width: 100%;
    /*height: 18%;*/
    position: absolute;
    bottom: 0;
    /*border: solid black 2px; */
}

.contenedorPieDePagina {
    /*height: 100%;*/
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

#logoPieDePagina {
    width: 115px;
    height: 120px;
    border-radius: 50%;
    /* margin-bottom: 50px; */
}

.contenedorComentariosContactanosBoton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 23%;
    align-items: center;
}

.contenedorBotonFooter {
    width: 100%;
}

.suscribeteBotonFooter {
    background-color: #718427;
    color: azure;
    height: 25px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px #275369;
    cursor: pointer;
}

.suscribeteBotonFooter:hover {
    background-color: #E2793C;
    transition: 0.7s;
}

.contenedorComentariosContactanos {
    background-color: #F9F8DF;
    border: black solid 1px;
    width: 75%;
    /*margin-top: 15px;*/
}

.contactanosFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
   
}
.comentariosFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.enlacesPieDePagina {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.enlacesPieDePagina {
    display: flex;
    justify-content: space-between;
}

.contenedorEnlaces {
    text-align: left;
    width: 45%; 
}

#enlacesFooter {
    text-decoration: none; 
    color: azure;
    display: block; 
    font-size: 18px;
}


@media (max-width:1023px) {
    .enlacesPieDePagina {
        width: 25%;
    }
}

@media (max-width:770px) {
    .contenedorFooter {
        background-color: #004465;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        /*border: solid black 2px; */
    }

    .contenedorPieDePagina {
        /*background-color: #E2793C;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .enlacesPieDePagina, 
    .contenedorComentariosContactanosBoton, 
    .suscribeteBotonFooter, 
    .contenedorComentariosContactanos 
     {
        
        width: 90%;
        margin-bottom: 3px; /* Espacio entre los elementos */
        text-align: center; /* Centra el texto dentro de cada div */
    }

    #logoPieDePagina {
        margin-top: auto; /* Empuja el logo hacia la parte inferior */
        padding: 3px;
        width: 80px;
        height: 80px;
    }
    .contenedorEnlaces {
        display: flex;
        margin-left: 50px;
        align-items:normal;
        text-align: left;
        width: 45%; 
        flex-direction: column;
    }
}

@media (max-width:499px) {
    .contenedorPieDePagina {
        flex-direction: column;
    }

    .contenedorFooter {
        background-color: #004465;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        /*border: solid black 2px; */
    }

    .enlacesPieDePagina {
        width: 80%;
        margin-bottom: 0;
    }
    .contenedorComentariosContactanosBoton {
        width: 80%;
        margin-bottom: 5px;
}

.suscribeteBotonFooter {
    width: 90%;
}

.contenedorComentariosContactanos {
    width: 85%;
    margin-bottom: 3px;
}

#logoPieDePagina {
    padding: 3px;
    height: 80px;
width: 80px;
}
} 

#el-logo {
    margin-left: 10%; /* Ajusta el margen si es necesario */
}

#el-logo img {
    transform: scale(1.5); /* Ajusta el tamaño del logo */
    transform-origin: center; /* Escala desde el centro */
    height: 45px; /* Mantén la proporción */
    max-height: 100%;/* Asegúrate de que el logo no exceda la altura del contenedor */
    width: 60px;
}


.topheader {
    position: fixed;
    background-color: var(--three-color);
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    z-index: 10;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el contenido */
    padding: 0 10px;
    height: 65px; /* Mantiene una altura fija para la navbar */
}

@media (max-width: 768px) {
    #el-logo .el-logo-nav{
        transform: scale(1.2); /* Ajusta el tamaño del logo en pantallas más pequeñas */
    }
}

#el-logo {
    margin-left: 10%; /* Ajusta el margen si es necesario */
}

#el-logo .el-logo-nav {
    transform: scale(1.5); /* Ajusta el tamaño del logo */
    transform-origin: center; /* Escala desde el centro */
    height: 45px; /* Mantén la proporción */
    max-height: 100%;/* Asegúrate de que el logo no exceda la altura del contenedor */
    width: 60px;
}

.topheader {
    position: fixed;
    background-color: var(--three-color);
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    z-index: 10;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el contenido */
    padding: 0 10px;
    height: 65px; /* Mantiene una altura fija para la navbar */
}

@media (max-width: 768px) {
    #el-logo .el-logo-nav {
        transform: scale(1.2); /* Ajusta el tamaño del logo en pantallas más pequeñas */
    }
}
   .search-container {
    position: relative;
    width: 500px; /* Ancho del contenedor */
    height: 50px;
    margin-right: 90px;     
 }  
.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Espaciado desde la izquierda */
    transform: translateY(-50%);
    width: 24px; /* Tamaño del icono */
    height: 24px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
} 

#Buscador {
    width: 100%; /* Ancho total del input igual al contenedor */
    padding: 5px 5px 5px 40px; /* Aumenta el padding izquierdo para dejar espacio al icono */
    border: transparent; 
    border-bottom: solid 2px #e2e2e2;
    outline: none;
    background-color: transparent; /* Fondo transparente para que el icono se vea bien */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    margin-top: 5px;

}
/* Estilos para pantallas de hasta 1024px */
@media (max-width: 1024px) {
    .search-container {
        width: 400px; /* Reduce el ancho del contenedor */
        margin-right: 50px; /* Ajusta el margen derecho */
    }
    
    .search-icon {
        width: 22px; /* Ajusta el tamaño del icono */
        height: 22px;
    }

    #Buscador {
        padding: 5px 5px 5px 35px; /* Ajusta el padding para el nuevo tamaño del icono */
    }
}


/* Estilos para pantallas de hasta 600px */
@media (max-width: 600px) {

    ul.menu #buscador2 {
        display: block;
    }
    
    .search-container {
        width: 300px; /* Reduce aún más el ancho del contenedor */
        margin-right: 20px; /* Reduce el margen derecho */
        display: none;
    }
    
    .search-icon {
        width: 20px; /* Ajusta el tamaño del icono */
        height: 20px;
    }

    #Buscador {
        padding: 5px 5px 5px 30px; /* Ajusta el padding para el nuevo tamaño del icono */
    }
}
/* ------------carrito------------------ */

.shopping-cart {
    font-size: 15px; /* Modificado */
    cursor: pointer;
    padding-top: 8px;
    font-weight: bold;
}

.bag {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 15px;
}

.container-cart-products {
    display: none;
}

.clean-btn {
    display: none;
}

.buy-card {
    display: none;
}

.shopping-cart:hover > .buy-card {
    width: 400px;
    height: auto;
    position: absolute;
    right: 0;
    background-color: #fff;
    display: inline;
}

.shopping-cart:hover .container-cart-products {
    font-size: 15px; /* Modificado */
    display: flex;
    flex-direction: row; /* Alinea los elementos en una columna */
    /* justify-content: space-between; */
    justify-content: flex-end;
    margin: 0 10px 0 10px;
    border-bottom: solid thin #e1e1e1;
}

.container-cart-products .l1 {
    list-style: none;
    padding: 1rem;
    font-weight: bold;
}

.shopping-cart:hover .buy-card > .clean-btn {
    display: block;
    width: 90%;
    padding: 0.5rem;
    margin: 10px auto;
    background-color: transparent;
    border: solid thin #e1e1e1;
    color: #494848;
    cursor: pointer;
    text-align: center; /* Centra el texto del botón  AQUI*/
}

.shopping-cart:hover .buy-card > .clean-btn:hover {
    border: solid thin #494848;
    transition: all .4s;
}

/* Acomodar los elementos de nuestro carrito de compras */
.lista_de_cursos div {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacio entre los elementos */
    padding: 10px 0;
    border-top: solid thin gray;
    text-align: center;
   
}

.lista_de_cursos img {
    width: 100px;
}

.lista_de_cursos p {
    flex: 1; /* Asegura que cada párrafo ocupe su espacio proporcional */
    font-size: 1rem;
    padding-left: 10px;
    margin: 0; /* Elimina márgenes que puedan afectar la alineación */
}

.lista_de_cursos p:first-child {
    padding-left: 0; /* Evita espacio innecesario al primer párrafo */
}

.lista_de_cursos p:last-child span {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    text-align: center; /* Centra el contenido del span */
}

.shopping-cart:hover .lista_de_cursos {
    max-height: 500px; /* Limita la altura máxima del contenedor */
    overflow-y: auto; /* Agrega scroll vertical si hay demasiados cursos */
}


/* Estilos para pantallas de hasta 1024px */
@media (max-width: 1024px) {
    .search-container {
        width: 400px; /* Reduce el ancho del contenedor */
        margin-right: 50px; /* Ajusta el margen derecho */
    }
    
    .search-icon {
        width: 22px; /* Ajusta el tamaño del icono */
        height: 22px;
    }

    #Buscador {
        padding: 5px 5px 5px 35px; /* Ajusta el padding para el nuevo tamaño del icono */
    }
}


/* Estilos para pantallas de hasta 600px */
@media (max-width: 600px) {

    ul.menu #buscador2 {
        display: block;
    }
    
    .search-container {
        width: 300px; /* Reduce aún más el ancho del contenedor */
        margin-right: 20px; /* Reduce el margen derecho */
        display: none;
    }
    
    .search-icon {
        width: 20px; /* Ajusta el tamaño del icono */
        height: 20px;
    }

    #Buscador {
        padding: 5px 5px 5px 30px; /* Ajusta el padding para el nuevo tamaño del icono */
    }
}





